@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>แก้ไขใบขอราคา</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Document",new { area = "Sale" })">หน้าแรก</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Document",new { area = "Sale" })">รายการใบขอราคา</a>
                </li>
                <li class="active">
                    <strong>แก้ไขใบขอราคา</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight no-padding-bottom">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">ข้อมูลทั่วไป</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">ข้อมูลลูกค้า</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">สินค้า</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4">ข้อมูลการจัดส่ง</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-5">ประวัติการทำรายการ</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <input type="hidden" id="documentId" value="@ViewBag.DocumentId" />
                                <div class="ibox">
                                    <div class="ibox-title no-borders">
                                        <h2>ข้อมูลใบขอราคา</h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="ibox-tools">
                                        </div>
                                    </div>
                                    <div class="ibox-content no-borders">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">สถานะ</label>
                                            <div class="input-group col-sm-4" style="padding-left: 15px;">
                                                <label>แบบร่าง</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">เลขที่เอกสาร</label>
                                            <div class="input-group col-sm-4" style="padding-left: 15px;">
                                                <input type="text" id="documentCode" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group row col-sm-6">
                                                <label class="col-sm-3 col-form-label">ชื่อผู้ขอราคา</label>

                                                <div class="col-sm-9">
                                                    <div class="input-group m-b"><input type="text" id="auto_saleName" class="form-control"> <span class="input-group-addon"><i class="fa fa-user-o"></i></span></div>
                                                    <input type="hidden" id="auto_saleId" />
                                                </div>
                                            </div>
                                            <div class="form-group row col-sm-6">
                                                <label class="col-sm-3 col-form-label">รหัสพนักงาน</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="auto_saleCode" disabled="" placeholder="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row" id="data_2">
                                            <label class="col-sm-3 col-form-label">จำนวนวันที่ยืนราคา</label>
                                            <div class="input-group col-sm-4" style="padding-left: 15px;">
                                                <input type="number" id="priceValidityDays" class="form-control" value="@Html.Raw(RP.Utilities.AppSettingHelper.DefaultPriceValidityDays)" min="0" onkeypress="return event.charCode != 45">
                                            </div>
                                        </div>
                                        <div class="form-group row" id="data_2">
                                            <label class="col-sm-3 col-form-label">จำนวนวันที่ส่งสินค้า</label>
                                            <div class="input-group col-sm-4" style="padding-left: 15px;">
                                                <input type="number" id="numberOfDeliveryDays" class="form-control" value="@Html.Raw(RP.Utilities.AppSettingHelper.DefaultDeliveryDays)" min="0" onkeypress="return event.charCode != 45">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-content no-borders">
                                        <h2>ข้อมูลลูกค้า</h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ชื่อโรงพยาบาล</label>
                                            <div class="col-sm-9">
                                                <div class="input-group m-b"><input type="text" id="auto_customerName" class="form-control"> <span class="input-group-addon"><i class="fa fa-address-book"></i></span></div>
                                                <input type="hidden" id="auto_customerId" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ประเภท</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="auto_customerType" disabled="" placeholder="" disabled>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">สาขา/หน่วยงาน</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="auto_customerHospitalName" disabled="" placeholder="" disabled>
                                            </div>
                                        </div>
                                        <h2>ข้อมูลผู้ติดต่อ</h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ผู้ติดต่อ</label>

                                            <div class="col-sm-9">
                                                <div class="input-group m-b"><input type="text" id="auto_contactName" class="form-control"> <span class="input-group-addon"><i class="fa fa-user-o"></i></span></div>
                                                <input type="hidden" id="auto_contactId" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">เบอร์ติดต่อ</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="auto_contactPhone" placeholder="" disabled>
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">โทรสาร</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="auto_contactFax" placeholder="" disabled>
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">เบอร์มือถือ</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="auto_contactMobile" placeholder="" disabled>
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title no-borders">
                                        <h2>ข้อมูลสินค้า</h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="ibox-tools">
                                            <input type="button" id="btnCopy" class="btn btn-default btn-xs" value="คัดลอก" />
                                            <input type="button" id="btnEdit" class="btn btn-default btn-xs" value="แก้ไข" />
                                            <input type="button" id="btnAddNew" class="btn btn-primary btn-xs" value="เพิ่มใหม่" />
                                        </div>
                                    </div>
                                    <div class="ibox-content no-borders">
                                        <div class="full-height-scroll">
                                            <div class="table-responsive" style="border:1px solid #eee">
                                                <table class="table table-striped table-hover table-bordered" style="margin-bottom: 0px">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>ชื่อสินค้า</th>
                                                            <th>หน่วยนับ</th>
                                                            <th>จำนวน</th>
                                                            <th>ราคาต่อหน่วย</th>
                                                            <th>รวม</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="productItems"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-content no-borders">
                                        <h2>ข้อมูลจัดส่ง</h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ที่อยุ่ในเอกสาร</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="deliveryAddress" rows="3"></textarea>
                                                <span class="form-text">กรอกข้อมูลได้สูงสุด 200 ตัวอักษร</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-11">Chat</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-12">Log</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-11" class="tab-pane active">
                                            @*<div class="ibox-content no-borders">*@

                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="log-discussion">
                                                        <div class="full-height-scroll">
                                                            <div class="log-box">
                                                                <div id="comments"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*</div>*@
                                        </div>
                                        <div id="tab-12" class="tab-pane">
                                            @*<div class="ibox-content no-borders">*@
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="log-discussion">
                                                        <div class="full-height-scroll">
                                                            <div class="table-responsive">
                                                                <div class="log-box">

                                                                    <div class="log-message left">
                                                                        <div class="log">
                                                                            <span class="log-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                            <span class="log-content">
                                                                                สร้างแบบร่างใบขอราคา
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="log-message left">
                                                                        <div class="log">
                                                                            <span class="log-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                                            <span class="log-content">
                                                                                สร้างแบบร่างใบขอราคา
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="chat-message-form">

                                                        <div class="form-group">

                                                            <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="toolbar">
                <div class="col-sm-1 text-left">
                    <a class="btn btn-sm btn-white prev"><i class="fa fa-chevron-left"></i> Back</a>
                </div>
                <div class="col-sm-10 text-center">
                    <button type="button" class="btn btn-primary btnShowHistory" style="display:none">บันทึกและเพิ่มประวัติ</button>
                    <button type="button" class="btn btn-primary btnSaveDraft" style="display:none">บันทึกแบบร่าง</button>
                    <button type="button" id="btnRequestForApprove" class="btn btn-white " style="display:none">ยื่นขออนุมัติ</button>
                    <button type="button" id="btnPrintDocument" class="btn btn-white " style="display:none">พิมพ์ใบเสนอราคา</button>
                    <button type="button" id="btnGotPO" class="btn btn-white " style="display:none">ได้รับ PO แล้ว</button>
                    <button type="button" class="btn btn-danger">ยกเลิก</button>
                </div>
                <div class="col-sm-1 text-right">
                    <a class="btn btn-sm btn-white next"> Next <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
}
@*Modal Dialog*@
<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">บันทึกการแก้ไขและเพิ่มประวัติ</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">คำอธิบาย</label>

                            <div class="col-sm-9">
                                <textarea class="form-control" id="comments" rows="3"></textarea>
                                <span class="form-text">กรอกข้อมูลได้สูงสุด 200 ตัวอักษร</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary btnSaveHistory">บันทึก</button>
            </div>
        </div>
    </div>
</div>
@*Modal Dialog*@
<div class="modal inmodal fade" id="editProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#editProduct-tab-1">ข้อมูลสินค้า</a></li>
                            <li class=""><a data-toggle="tab" href="#editProduct-tab-2">เพิ่มเติม</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="editProduct-tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ประเภทสินค้า</label>
                                            <div class="col-sm-9">
                                                <select class="form-control m-b" id="editProductCategories"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">สินค้า</label>
                                            <div class="col-sm-9">
                                                <select class="form-control m-b" id="editProducts"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">รายละเอียด</label>
                                            <div class="col-sm-9">
                                                <select class="form-control m-b" id="editProductOptions"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">จำนวน</label>
                                            <div class="col-sm-3">
                                                <input type="number" id="editProductNumberOfProducts" min="0" value="0" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">หน่วย</label>
                                            <div class="col-sm-3">
                                                <select class="form-control m-b" id="editProductsUnit"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ราคาต่อหน่วย</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="editProductPricePerUnit" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">ผ้า</label>
                                            <div class="col-sm-9">
                                                <select class="form-control m-b" id="editMaterials"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">แนบไฟล์</label>
                                            <div class="col-sm-9">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                                    <span class="fileinput-filename"></span>
                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">หมายเหตุ</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="editProductRemark" rows="3"></textarea>
                                                <span class="form-text">กรอกข้อมูลได้สูงสุด 200 ตัวอักษร</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <h3>จำนวนผ้าที่ใช้</h3>
                                    <div id="materialStockCheck"></div>
                                </div>
                            </div>
                            <div id="editProduct-tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox">
                                        <div class="ibox-title no-borders">
                                            <h3>พิมพ์</h3>
                                            <div class="hr-line-dashed"></div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <div class="checkbox i-checks">
                                                            <input type="radio" id="editPrint-optional1" name="editPrint-optional" value="1"><label>มี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editPrint-optional2" name="editPrint-optional" value="0" checked><label>ไม่ม่ี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editPrint-optional3" name="editPrint-optional" value="2"><label>ลายใหม่&nbsp;</label>&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                    <div id="editPrint-option1-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">ลาย</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editPrint-pattern"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="editPrint-option2-section" style="display:block">
                                                    </div>
                                                    <div id="editPrint-option3-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">แนบไฟล์</label>
                                                            <div class="col-sm-8">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" id="editPrint-file" name="..."></span>
                                                                    <span class="fileinput-filename"></span>
                                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">สีที่พิมพ์</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editPrint-color"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div id="editPrint-patternImage"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ibox-title no-borders">
                                            <h3>สกรีน</h3>
                                            <div class="hr-line-dashed"></div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <div class="checkbox i-checks">
                                                            <input type="radio" id="editScreen-optional1" name="editScreen-optional" value="1"><label>มี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editScreen-optional2" name="editScreen-optional" value="0" checked><label>ไม่ม่ี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editScreen-optional3" name="editScreen-optional" value="2"><label>ลายใหม่&nbsp;</label>&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                    <div id="editScreen-option1-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">ลาย</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editScreen-pattern"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="editScreen-option2-section" style="display:block">
                                                    </div>
                                                    <div id="editScreen-option3-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">แนบไฟล์</label>
                                                            <div class="col-sm-8">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" id="editScreen-file" name="..."></span>
                                                                    <span class="fileinput-filename"></span>
                                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">สีที่พิมพ์</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editScreen-color"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">ตำแหน่ง</label>
                                                            <div class="col-sm-3">
                                                                <select class="form-control m-b" id="editScreen-position"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div id="editScreen-patternImage"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-title no-borders">
                                            <h3>ปัก</h3>
                                            <div class="hr-line-dashed"></div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <div class="checkbox i-checks">
                                                            <input type="radio" id="editSew-optional1" name="editSew-optional" value="1"><label>มี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editSew-optional2" name="editSew-optional" value="0" checked><label>ไม่ม่ี&nbsp;</label>&nbsp;&nbsp;
                                                            <input type="radio" id="editSew-optional3" name="editSew-optional" value="2"><label>ลายใหม่&nbsp;</label>&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                    <div id="editSew-option1-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">ลาย</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editSew-pattern"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="editSew-option2-section" style="display:block">
                                                    </div>
                                                    <div id="editSew-option3-section" style="display:none">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">แนบไฟล์</label>
                                                            <div class="col-sm-8">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" id="editSew-file" name="..."></span>
                                                                    <span class="fileinput-filename"></span>
                                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">ตำแหน่ง</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control m-b" id="editSew-position"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">รายละเอียดเพิ่มเติม</label>
                                                            <div class="col-sm-5">
                                                                <textarea class="form-control" id="editSew-remark" rows="3"></textarea>
                                                                <span class="form-text">กรอกข้อมูลได้สูงสุด 200 ตัวอักษร</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div id="editSew-patternImage"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">ปิด</button>
                <button type="button" id="btnAddNewItem" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/codeEditorStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/codeEditor")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/currency")
    @Scripts.Render("~/plugins/typehead")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".next").show();
            $(".prev").hide();
            // Handling data-toggle manually
            $('.nav-tabs a').click(function () {
                $(this).tab('show');
            });
            // The on tab shown event
            $('.nav-tabs a').on('shown.bs.tab', function (e) {
                $(".next").show();
                $(".prev").show();
                var current_tab = e.target;
                var previous_tab = e.relatedTarget;
                var tabName = ($('.nav-tabs > .active').find('a').attr('href'));
                if (tabName == '#tab-1') {
                    $(".prev").hide();
                    $(".next").show();
                }
                if (tabName == '#tab-5') {
                    $(".prev").show();
                    $(".next").hide();
                }
            });
            $('.next').click(function () {
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
                var tabName = ($('.nav-tabs > .active').find('a').attr('href'));
                if (tabName == '#tab-5') {
                    $(".next").hide();
                }
                $(".prev").show();
            });
            $('.prev').click(function () {
                $('.nav-tabs > .active').prev('li').find('a').trigger('click');
                var tabName = ($('.nav-tabs > .active').find('a').attr('href'));
                if (tabName == '#tab-1') {
                    $(".prev").hide();
                }
                $(".next").show();
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            $(".date").datepicker({
                todayHighlight: true,
                format: "dd/mm/yyyy",
                autoclose: true,
            });
            $('.btnSave').click(function () {
                documentEditor.SaveDocument(function () {
                    swal({
                        title: "บันทึกเรียบร้อย!",
                        text: "กดปุ่ม OK เพื่อปิด!",
                        icon: "success"
                    }).then((value) => {
                        utilities.RedirectToAction("../");
                    });
                });
            });
            $('.btnShowHistory').click(function () {
                $("#myModal").modal("show");
            });
            $('.btnSaveHistory').click(function () {
                $('#myModal').modal('toggle');
                documentEditor.SaveDocumentWithComments(function () {
                    swal({
                        title: "บันทึกเรียบร้อย!",
                        text: "กดปุ่ม OK เพื่อปิด!",
                        icon: "success"
                    }).then((value) => {
                        utilities.RedirectToAction("../");
                    });
                });

            });
            $('.btnSaveDraft').click(function () {
                documentEditor.SaveDraftDocument(function () {
                    swal({
                        title: "บันทึกเรียบร้อย!",
                        text: "กดปุ่ม OK เพื่อปิด!",
                        icon: "success"
                    }).then((value) => {
                        utilities.RedirectToAction("../");
                    });
                });

            });
            $("#btnCopy").unbind();
            $("#btnCopy").click(function () {
                var cid = $("#auto_customerId").val();
                var selectedProductItems = $("input[name='productItemId']:checked");
                if ($(selectedProductItems[0]).val() == undefined) {
                    toastr.info("กรุณาเลือกรายการก่อน", 'Infomration');
                    return;
                } else if (selectedProductItems.length > 1) {
                    toastr.info("กรุณาเลือกเพียง 1 รายการ", 'Infomration');
                    return;
                } else {
                    $("#editProductModal").modal({ backdrop: "static" });
                    var selectedItemId = $(selectedProductItems[0]).val();
                    var selectedItem = documentEditor.getItemsById(selectedItemId);
                    productEditor.copy(cid, selectedItem);
                }
            });
            $("#btnEdit").unbind("click");
            $("#btnEdit").click(function () {
                var customerId = $("#auto_customerId").val();
                var selectedProductItems = $("input[name='productItemId']:checked");
                if ($(selectedProductItems[0]).val() == undefined) {
                    toastr.info("กรุณาเลือกรายการก่อน", 'Infomration');
                    return;
                } else if (selectedProductItems.length > 1) {
                    toastr.info("กรุณาเลือกเพียง 1 รายการ", 'Infomration');
                    return;
                } else {
                    var selectedItemId = $(selectedProductItems[0]).val();
                    documentEditor.OpenEditor(customerId, selectedItemId);
                }
            });
            $("#btnAddNew").unbind("click");
            $("#btnAddNew").click(function () {
                var cid = $("#auto_customerId").val();
                $("#editProductModal").modal({ backdrop: "static" });
                productEditor.addNew(cid);
            });
            $("#btnAddNewItem").click(function () {
                var mode = productEditor.getMode();
                if (mode == 1) {
                    $("#editProductModal").modal("hide");
                    productEditor.AddNewItem();
                }
                else if (mode == 2) {
                    var selectedItem = productEditor.getSelectedItem();
                    $("#editProductModal").modal("hide");
                    productEditor.UpdateItem(selectedItem.itemId);
                } else {
                    var selectedItem = productEditor.getSelectedItem();
                    $("#editProductModal").modal("hide");
                    productEditor.CopyItem(selectedItem.itemId);
                }
                documentEditor.RenderProducts();
            });
            $("#editMaterials").change(function () {
                productEditor.MaterialStockCheck();
            });
            documentEditor.init();
        });
    </script>
}
