@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>ใบขอราคา</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Document",new { area = "Sale" })">หน้าแรก</a>
            </li>
            <li class="active">
                <strong>รายการใบขอราคา</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-9">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>
                    <h2>&nbsp;</h2>
                    <div class="row">
                        <div class="ibox collapsed">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <a class="collapse-link" style="color:#000">
                                        <h5>ตัวกรองข้อมูลแบบละเอียด</h5>
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form role="form">
                                    <div class="row">
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ประเภทลูกค้า</label>

                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ประเภทลูกค้า" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ชื่อโรงพยาบาล</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ชื่อโรงพยาบาล" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ปี</label>

                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ปี" data-mask="99/99/9999" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ชื่อผู้ติดต่อ</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ชื่อผู้ติดต่อ" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ประเภทของสินค้า</label>

                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ประเภทของสินค้า" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-6">
                                            <label class="col-sm-3 col-form-label">ราคาที่เคยเสนอ</label>

                                            <div class="col-sm-9">
                                                <input type="text" placeholder="ราคาที่เคยเสนอ" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control m-b" id="ddSearch">
                                <option value="CustomerName">ชื่อลูกค้า</option>
                                <option value="DocumentCode">เลขที่เอกสาร</option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" id="keyword" placeholder="ค้นหา" class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" id="btnSearch" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div><div class="hr-line-dashed"></div>
                    <div class="clients-list">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive" style="min-height:400px">
                                    <table id="table-quotation" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @*<div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></div>*@
                                                </th>
                                                <th>ความสำคัญ</th>
                                                <th>ประเภทลูกค้า</th>
                                                <th>ชื่อโรงพยาบาล</th>
                                                <th>เลขที่เอกสาร</th>
                                                <th>ชื่อผู้เสนอขาย</th>
                                                <th>สถานะเวิร์คโฟล์</th>
                                                <th>สถานะการสั่งซื้อ</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div id="pager_quotation"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>จัดการใบขอราคา</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content float-e-margins">
                    <a class="btn btn-primary " href="/Sale/Document/AddNew">สร้างใบขอราคา</a>
                    <button type="button" id="btnEdit" class="btn btn-white ">แก้ไข</button>
                    <button type="button" class="btn btn-white  btnDelete">ลบ</button>
                    <button type="button" id="btnRequestForApprove" class="btn btn-white ">ยื่นขออนุมัติ</button>
                    <button type="button" id="btnGotPO" class="btn btn-white ">ได้รับ PO แล้ว</button>
                    <button type="button" class="btn btn-white ">คัดลอก</button>
                    <button type="button" class="btn btn-white ">มอบหมาย</button>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default  dropdown-toggle" aria-expanded="false">เปลี่ยนสถานะ</button>
                        <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 24px; left: 0px; will-change: top, left;">
                            <li><a class="dropdown-item" href="#">เปิดใช้งานใบขอราคา</a></li>
                            <li><a class="dropdown-item" href="#">ปิดใช้งานใบขอราคา</a></li>
                            <li><a class="dropdown-item" href="#">พักใบขอราคา</a></li>
                            <li><a class="dropdown-item" href="#">ยกเลิกใบขอราคา</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">
        $(document).ready(function () {
            documentList.init();
            $('.scroll_content').slimscroll({
                height: '500px'
            });
            $('.btnDelete').click(function () {
                swal({
                    title: "ยืนยันการลบข้อมูล?",
                    text: "คุณจะไม่สามารถกู้รายการนี้หลังจากลบไปแล้ว!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "ลบ!",
                    cancelButtonText: "ยกเลิก!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal("ลบรายการเรียบร้อย!", "รายการนี้ถูกลบแล้ว", "success");
                        } else {
                            swal("ยกเลิกการลบแล้ว", "รายการนี้ถูกยกเลิกการลบ", "error");
                        }
                    });
            });
            $("#btnEdit").unbind("click");
            $("#btnEdit").click(function () {
                documentList.edit();
            });
            $("#btnSearch").click(function () {
                documentList.search();
            });
            $("#btnRequestForApprove").unbind("click");
            $("#btnRequestForApprove").click(function () {
                var itemId = 0;
                var items = $("input:checkbox[name=documentId]:checked");
                if (items.length == 1) {
                    itemId = $(items[0]).val();
                    swal({
                        title: "ยืนยันการยื่นเพื่อขออนุมัติ?",
                        text: "",
                        icon: "info",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["ปิด", "ตกลง"]
                    }).then((isConfirm) => {
                        if (isConfirm) {
                            swal.close();
                            documentList.requestApprove(function () {
                                swal({
                                    title: "บันทึกเรียบร้อย!",
                                    text: "กดปุ่ม OK เพื่อปิด!",
                                    icon: "success"
                                }).then((value) => {
                                    utilities.RedirectToAction("/Sale/Document/Index");
                                });
                            });
                        } else {
                            swal("ยกเลิก", "ยกเลิกการทำรายการแล้ว", "error").then((result) => {
                                swal.close();
                            });
                        }
                    });
                } else {
                    toastr.info('กรุณาเลือกรายการ', 'Infomration');
                }
            });
            $("#btnGotPO").unbind("click");
            $("#btnGotPO").click(function () {
                var itemId = 0;
                var items = $("input:checkbox[name=documentId]:checked");
                if (items.length == 1) {
                    itemId = $(items[0]).val();
                    swal({
                        title: "ยืนยันการเปลี่ยนสถานะเป็น ได้รับ PO แล้ว?",
                        text: "",
                        icon: "info",
                        buttons: true,
                        dangerMode: true,
                        buttons: ["ปิด", "ตกลง"]
                    }).then((isConfirm) => {
                        if (isConfirm) {
                            swal.close();
                            documentList.gotPO(function () {
                                swal({
                                    title: "บันทึกเรียบร้อย!",
                                    text: "กดปุ่ม OK เพื่อปิด!",
                                    icon: "success"
                                }).then((value) => {
                                    utilities.RedirectToAction("/Sale/Document/Index");
                                });
                            });
                        } else {
                            swal("ยกเลิก", "ยกเลิกการทำรายการแล้ว", "error").then((result) => {
                                swal.close();
                            });
                        }
                    });
                } else {
                    toastr.info('กรุณาเลือกรายการ', 'Infomration');
                }
            });
        });
    </script>
}
