@using RP.Model
@{
    ApplicationUser user = Session["CurrentUser"] as ApplicationUser;
    string roleName = Session["CurrentRoleName"].ToString();
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @*<span>
                    <img alt="image" class="img-circle small" src="~/Images/profile/user1.jpg" width="48" height="48" />
                </span>*@
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@user.DisplayName</strong>
                            </span> <span class="text-muted text-xs block">@roleName <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Settings", "AppViews")">Contacts</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="~/Images/logo.png" />
                </div>
            </li>
            @{
                switch (roleName)
                {
                    case "Sale":
                        {
                            <li class="@Html.IsSelected(controller: "Document")">
                                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">งานขาย</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Sale", cssClass: "in")">
                                    <li class="@Html.IsSelected(action: "AddNew")"><a href="@Url.Action("AddNew", "Document",new { area = "Sale" })">สร้างใบขอราคา</a></li>
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Document",new { area = "Sale" })">รายการใบขอราคา</a></li>
                                </ul>
                            </li>
                            
                            break;
                        }
                    case "Backoffice":
                        {
                            <li class="@Html.IsSelected(controller: "Document")">
                                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">งานขาย</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Backoffice", cssClass: "in")">
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Document",new { area = "Backoffice" })">สร้างใบขอราคา</a></li>
                                </ul>
                            </li>
                            break;
                        }
                    case "Manager":
                        {
                            <li class="@Html.IsSelected(controller: "Document")">
                                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">งานขาย</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Manager", cssClass: "in")">
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Document",new { area = "Manager" })">สร้างใบขอราคา</a></li>
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "ApprovalDocument",new { area = "Manager" })">รายการอนุมัติ <span class="label label-warning pull-right">16/24</span></a></li>
                                </ul>
                            </li>
                            <li class="@Html.IsSelected(controller: "Report")">
                                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">รายงาน</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Report", cssClass: "in")">
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Report")">รายงาน1</a></li>
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Report")">รายงาน1</a></li>
                                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Report")">รายงาน1</a></li>
                                </ul>
                            </li>
                            break;
                        }
                    case "Admin":
                        {
                            <li>
                                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">ตั้งค่า</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Admin", cssClass: "in")">
                                    <li class="@Html.IsSelected(controller: "Product")">
                                        <a href="#">ข้อมูลสินค้า <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="@Url.Action("CategoryList", "Product",new { area = "Admin" })">ประเภทสินค้า</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ProductList", "Product",new { area = "Admin" })">สินค้า</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ProductOptionList", "Product",new { area = "Admin" })">รายละเอียดสินค้า</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ProductUnitList", "Product",new { area = "Admin" })">หน่วยนับสินค้า</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">ข้อมูลการขาย <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="#">กลุ่มงานขาย</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">ข้อมูลลูกค้า <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="@Url.Action("CustomerList", "Setting",new { area = "Admin" })">รายการลูกค้า</a>
                                            </li>
                                            <li>
                                                <a href="#">ประเภทลูกค้า</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="@Html.IsSelected(controller: "Common")">
                                        <a href="#">ข้อมูลทั่วไป <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li class="@Html.IsSelected(action: "UserList")">
                                                <a href="@Url.Action("UserList", "Common",new { area = "Admin" })">จัดการผู้ใช้</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            break;
                        }
                    case "SuperAdmin":
                        {
                            break;
                        }
                }

            }
        </ul>
    </div>
</nav>